<div class="row">
    <div class="col-md-5">
        <app-book-list [headerSelected]="headerSelected">
        </app-book-list>

    </div>
    <div class="col-md-7">
        <app-book-details  *ngIf="headerSelected !== 'add-book' && book!=null" [book]="book"></app-book-details>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-7">
        <app-book-edit *ngIf="headerSelected === 'add-book'" (addedBook)="bookAdded = $event"></app-book-edit>
    </div>
</div> -->
<!--
    Put the book edit inside the book list 

-->