<div class="row" >
    <div class="col-xs-12">
        <form>
            <div class="panel panel-default">
                <div class="panel heading">
                    <h1 align="center">Enter Details of the new Book</h1><br>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12  form-group">
                            <label for="title" id="title" class="col-md-2">Title</label>
                            <input type="text" id="title" class="col-md-10" #titleInput>

                        </div>
                        <div class="col-xs-12   form-group">
                            <label for="author" id="author" class="col-md-2">Author</label>
                            <input type="text" id="author" class="col-md-10" #authorInput>
                        </div>
                        <div class="col-xs-12   form-group">
                            <label for="description" id="description" class="col-md-2">Description</label>
                            <input type="text" id="description" class="col-md-10" #descriptionInput>
                        </div>
                        <div class="col-xs-12   form-group">
                            <label for="imagePath" id="imagePath" class="col-md-2">Image Path</label>
                            <input type="text" id="imagePath" class="col-md-10" #imagePathInput>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success pull-left" type="button" (click)="onAddingBook()" >Submit</button>
                            <button class="btn btn-primary ctn" type="button">Clear</button>
                            <button class="btn btn-danger pull-right" type="button">Delete</button>
                        </div>
                    </div>

                </div>
            </div>



        </form>
    </div>
</div>