<div class="row" *ngIf="headerSelected === 'book-list', else goToOther ">
    <div class="col-xs-12">
        <button class="btn btn-success">New Book</button>
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-book-item *ngFor="let book of books" [book]="book"></app-book-item>
            <hr>
        </div>
    </div>
   
</div>
<ng-template #goToOther>
    <div class="row"  >
        <div class="col-xs-12">
            <app-book-edit></app-book-edit>
        </div>
    </div>
</ng-template>