<div class="container">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <hr>
      <h3>Enter Project Information</h3>
      <hr>
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <input type="text" required formControlName="projectName">
        <span class="help-block" *ngIf="!form.get('projectName').valid 
        && form.get('projectName').touched">
          Please enter a valid project name!
        </span>
      </div>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" required email formControlName="email">
        <span class="help-block" *ngIf="!form.get('email').valid 
        && form.get('email').touched">
          Please enter a valid email address!</span>
      </div>
      <div class="form-group">
        <label for="status">Choose Project Status</label>
        <select name="status" id="status" required formControlName="status">
          <option *ngFor="let status of projectStatuses" value="{{ status }}">{{ status }}</option>
        </select>
        <span class="help-block" *ngIf="!form.get('status').valid &&
         form.get('status').touched">Please choose a valid status!</span>
      </div>
      <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>